<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Liveleds Portal</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='css/font.css') }}" rel='stylesheet' type='text/css'>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="section hero">
        <div class="container">
            <div class="row">
                <div class="column main">
                    <form method="POST" action="/submit">
                        <h4 class="hero-heading">{{ address }}</h4>
                        <h4 class="hero-heading">Select network</h4>
                        <select class="u-half-width ssid" id="ssid" name="ssid">
                            {% for ssid in ssids %}
                            <option value="{{ ssid }}">{{ ssid }}</option>
                            {% endfor %}
                        </select>
                        <h4 class="hero-heading">Password</h4>
                        <input type="password" id="password" name="password" />
                        <div class="full-width">
                            <input class="button-primary submit" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
